@import "intro";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  font-family: Arial;
}
.nav{
  display: block !important;
}
.footer{
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  left: 260px;
  right: 0;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.action{
  margin-left:10px;
}
.minW120{
  min-width: 120px;
}

.minW190{
  min-width: 190px;
}

.edit{
  position: relative;
  top: 2px;
}
.remove{
  color:red;
}
.height60{
  height: 60px;
}
.card {
  box-shadow: 0 1px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1)
}
body {
  back-ground:#F7F7F8
}
.main-panel{
  background: transparent;
}
#addButton{
  border-radius: 100px;
  margin-bottom: 5px;
}



@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (max-width: 991px){
  .footer{
    position: initial;
    text-align: center;
    .float-left, .float-right{
      float: none !important;
    }
    &:not(.footer-big) nav > ul li{
      display: inline-block;
    }
  }
}